.planScreen__plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}
.planScreen__plan:hover {
  opacity: 1;
}
.planScreen__plan > button {
  color: #fff;
  background-color: #e50914;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}
.planScreen__plan > button:hover {
  cursor: pointer;
}
